<?xml version="1.0"?>
<!-- This is a bare configuration for a Tridion.Web editor -->
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

	<!--
		The SDL Tridion GUI uses a merging technique to minimize the amount of calls done by the client
		for static files (like .css and .js file).
		The files can be grouped and will be merged per group (if merging is enabled on the group)
		For debugging purposes the merging behavior can be switched off by setting the merge attribute to false.
	-->
	<resources>
		
		<cfg:filters />
		
		<cfg:extensiongroups />
		
		<cfg:groups />
		
	</resources>

	<definitionfiles>
		<!-- List definitions -->
	</definitionfiles>

	<!--
		The SDL Tridion GUI allows for additions, manipulations and removal of items within the GUI through
		the 'extension methodology'.

		Below is the configuration section for those extensions.
		These configuration sections can be defined inline or external (if the externaldefinition is used, all
		inline content is ignored!)
	-->
	<extensions>
		<ext:editorextensions>
			<ext:editorextension target="">
				<ext:editurls />
				<ext:listdefinitions />
				<ext:itemicons />
				<ext:taskbars />
				<ext:commands />
				<ext:commandextensions/>
				<ext:contextmenus />
				<ext:lists />
				<ext:xslstylesheetextensions />
				<ext:deckpages />
				<ext:tabpages />
				<ext:toolbars />
				<ext:ribbontoolbars/>
				<ext:extendedareas />
				<ext:optionspanels />
				
				<!--Defines the Widgets extensions-->
				<ext:widgets>
					<!-- The `add` element is the container for all extension being added to the runtime -->
					<ext:add>

						<!-- Defines a Tab extension to add to the runtime
							@assignid Uniq ID of the extension
							@name defines the extension name 
						-->
						<ext:extension assignid="UIBeardcore.DevToolsPage"
									   name="DevToolsPage">

							<!-- The `control` element hold the ASCX user control (filename, relative to root of project) -->
							<ext:control/>

							<!-- The `pagetype` element hold the definition of the extension control` client side name -->
							<ext:implementation>DevToolsPage</ext:implementation>
							
							<!-- The `size` element holds the size of the widget 
								either box|stretchedbox|smallstretchedbox
							-->
							<ext:size>box</ext:size>

							<!-- The `dependencies` element is the container for resource group dependencies for this extension -->
							<ext:dependencies>
								<cfg:dependency>UIBeardcore.Editors.DevToolsTab</cfg:dependency>
							</ext:dependencies>

							<!-- The `apply` element defines the applicability for this extension -->
							<ext:apply>
								<ext:view name="DashboardView">
									<ext:control id="DashboardToolbar" />
								</ext:view>
							</ext:apply>
						</ext:extension>
					</ext:add>
					<!-- The `remove` element is the container for all extensions being removed from the runtime -->
					<ext:remove>
						<!-- Defines an extension to remove from the runtime
							@id Defines an ID of the element to remove
							@name Defines the extension name 
						-->
						<ext:extension id="NewFolderbtn1" name="UIBeardcore.RemoveButton">
							<!-- The `apply` element defines the applicability for this extension -->
							<ext:apply>
								<ext:view name="DashboardView">
									<ext:control id="DashboardToolbar" />
								</ext:view>
							</ext:apply>
						</ext:extension>
					</ext:remove>
					<!-- The `remove` element is the container for all extensions being removed from the runtime -->
					<ext:disable>
						<!-- Defines an extension to disable in the runtime
							@id Defines an ID of the element to remove
							@name Defines the extension name 
						-->
						<ext:extension id="NewFolderbtn1" name="UIBeardcore.RemoveButton">
							<!-- The `apply` element defines the applicability for this extension -->
							<ext:apply>
								<ext:view name="DashboardView">
									<ext:control id="DashboardToolbar" />
								</ext:view>
							</ext:apply>
						</ext:extension>
					</ext:disable>
				</ext:widgets>
			</ext:editorextension>
		</ext:editorextensions>
		<ext:dataextenders />
		<ext:resourceextensions/>
	</extensions>

	<!--
		The SDL Tridion GUI uses a 'Command' pattern for the commands executed whenever a user
		interacts with the system.

		Below are all the available commands specified and the file that holds the actual implementation of that command.
	-->
	<commands />
	
	<contextmenus />

	<!-- The `widgetsviews` element is the container of reusable widgets declaractions -->
	<widgetsviews>
		
		<!-- The `widgetsview` element defines a single widgets view
			@id The unique id of the Widgets View
		-->
		<widgetsview id="CommunityWidgetsView">
			
			<!-- The `widget` element defines a single widget in a view
				@id The unique id of the Widget in the WidgetsView
				@name The name of the Widget in the WidgetsView
				@size Size of the widget either box|stretchedbox|smallstretchedbox
			-->
			<widget id="InteractiveContentBreakDown" name="Tridion.UGC.Widgets.InteractiveContentBreakdownWidget" size="smallstretchedbox">

				<!-- The `control` element hold the ASCX user control (filename, relative to root of project) -->
				<control>~/Widgets/InteractiveContentBreakdown/InteractiveContentBreakDownWidget.ascx</control>
				
				<!-- The `implementation` element hold the javascript implementation name behind the widget -->
				<implementation>Tridion.UGC.Widgets.InteractiveContentBreakDownWidget</implementation>

				<!-- The `dependencies` element is the container for resource group dependencies for this extension -->
				<dependencies>
					<cfg:dependency>Tridion.UGC.Widgets.InteractiveContentBreakdownWidget</cfg:dependency>
				</dependencies>
			</widget>
		</widgetsview>
	</widgetsviews>
	
	<localization />

	<settings>
		<dependencies>
			<editor>CME</editor>
		</dependencies>
		<defaultpage/>
		<editurls/>
		<listdefinitions />
		<itemicons />
		<theme>
			<path>/Themes/</path>
		</theme>
		<resourceextensions />
		<customconfiguration />
	</settings>

</Configuration>
